@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

/* mainvisual */
.mainvisual{
    width: 100%;
}

.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:90%;
    padding: 0;
    margin: 5% auto;
}
.slider li{
    display: flex;
    justify-content: center;
}
.slider img {
    width:30vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
    border-radius: 50%;
}
.slider li p{
    text-align: center;
    font-size: larger;
}

.slider .slick-slide {
	transform: scale(0.7);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}
.slick-track{
    width: 100%;
}
/* .background{
    position: sticky;
    width: 100%;
    z-index: -1;
}
.background li{
    position: relative;
    
}
.background li img{
    width: 90vw;
    height: 80vh;
    filter: blur(20px);
    object-fit: cover;

} */

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

.campaign{
    width: 100%;
}
.article_name{
    position: relative;
    text-align: center;
    font-weight: bold; 
}
.title_border{
    width: 95%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}
.campaign_container{
    margin: 5% 0;
    padding: 0 2%;
    text-decoration: none;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
}
.campaign_container li{
    position: relative;
    width: 15vw;
    height: 100%;
    margin-right: 1vw;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    /* box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4); */
}
.campaign_container li img{
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 10px;
    top: 0;
}
.campaign_text{
    padding: 0 8%;
}
.campaign_container li p{
    width: 100%;
    height: 35%;
    margin: 0;
    
    font-size: 12px;
}



/* shop_info */
.shop_info{
    position: relative;
}
.info_slider{
    padding: 0;
}
.info_slider img {
    aspect-ratio: 16/9;
    object-fit: cover;
    height: 90vh;
    filter: brightness(0.7);
}
.info_text{
    position: absolute;
    top: 5%;
    left: 5%;
    /* width: 60%; */
    color: rgb(255, 255, 255);
}
.info_text h3{
    /* margin-bottom: 3%; */
    font-size: 30px;
    font-weight: 900;

}
.info_text p{
    width: 40%;
    font-weight: 500;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.info_slider .slick-slide {
    margin:0;/*スライド左右の余白調整*/
    padding:0;
}

.menu{
    /* width: 100%; */
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}
.category_name{
    position: relative;
    text-align: center;
    font-weight: bold; 
}
.menu_category{
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3%;
    margin-bottom: 5%;
}
.menu_category li{
    position: relative;
    width: 20vw; 
    margin: 0 1% 5% 1%; 
    transition: .2s;
}
.menu_category li img{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    aspect-ratio: 1/1;
    
}
.menu_category li:hover{
    scale: calc(1.05);
    transition: .2s;
}
.menu_category li p{
    margin: 0;
    color: #333;
}
.menu_category li a{
    color: #333;
}
.menu_category li.icon::after{
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 5px;
    left: 5px;
    text-align: center;
    white-space:pre;
    content: "限定\A店舗";
    background-color: #1E3932;
    border-radius: 50%; /*枠の形*/
    padding: 12px; /*文字と線の間の余白*/
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: bold;
    color: #fff;
}
@media screen and (max-width: 768px){
    .menu{
        margin-bottom: 5%;
    }
    .menu_category{
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
    .menu_category li{
        width: 40vw;
    }
}